name: Deploy to Cloud Run

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        required: true
        default: dev
        type: choice
        options:
          - dev
          - staging
          - prod

env:
  GCP_REGION: us-east1
  ARTIFACT_REGISTRY: /my-docker-repo
  SERVICE_NAME: fastapi-service

jobs:
  build-and-deploy:
    name: Build & Deploy FastAPI
    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout code
        uses: actions/checkout@v4

      
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      
      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      
      - name: Configure Docker auth
        run: |
          gcloud auth configure-docker \
          ${{ env.GCP_REGION }}-docker.pkg.dev --quiet

      
      - name: Set image tags
        id: image-tag
        run: |
          IMAGE="${{ env.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ env.ARTIFACT_REGISTRY }}/${{ env.SERVICE_NAME }}"
          echo "tag=$IMAGE:latest" >> $GITHUB_OUTPUT
          echo "tag_sha=$IMAGE:${{ github.sha }}" >> $GITHUB_OUTPUT

      
      - name: Build Docker image
        run: |
          docker build \
            -t "${{ steps.image-tag.outputs.tag }}" \
            -t "${{ steps.image-tag.outputs.tag_sha }}" \
            -f ./fastapi-app/Dockerfile \
            ./fastapi-app

      
      - name: Push image to Artifact Registry
        run: |
          docker push "${{ steps.image-tag.outputs.tag }}"
          docker push "${{ steps.image-tag.outputs.tag_sha }}"

      
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy ${{ env.SERVICE_NAME }} \
            --image "${{ steps.image-tag.outputs.tag }}" \
            --region "${{ env.GCP_REGION }}" \
            --platform managed \
            --allow-unauthenticated \
            --port 8080 \
            --cpu 1 \
            --memory 512Mi \
            --max-instances 5 \
            --timeout 300s \
            --quiet

      - name: Get Cloud Run URL
        run: |
          URL=$(gcloud run services describe ${{ env.SERVICE_NAME }} \
            --region ${{ env.GCP_REGION }} \
            --format='value(status.url)')
          echo "Deployed at: $URL"
